@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
	height: 100%;
	overflow: hidden;
}

.top {
	width: 100%;
	height: 340px;
	background: url(../images/main_2.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}
.bottom {
	width: 100%;
	height: 355px;
	background: url(../images/main_1.png);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
}

.angle_1 {
	width: 191px;
	height: 190px;
	background: url(../images/angle_1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 16%;
	left: 20%;
}
.angle_2 {
	width: 191px;
	height: 190px;
	background: url(../images/angle_2.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	right: 25%;
	bottom: 20%;
}

.o_1 {
	width: 30px;
	height: 30px;
	background: url(../images/o_1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	left: 5%;
	top: 30%;
}
.o_2 {
	width: 30px;
	height: 30px;
	background: url(../images/o_1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	right: 10%;
	top: 10%;
}
.o_3 {
	width: 30px;
	height: 30px;
	background: url(../images/o_1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	bottom: 5%;
	left: 15%;
}

.x_1 {
	width: 30px;
	height: 30px;
	background: url(../images/x_1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	left: 15%;
	top: 8%;
	animation: rotate_image_2 5s linear infinite;
    transform-origin: 50% 50%;
}
.x_2 {
	width: 30px;
	height: 30px;
	background: url(../images/x_1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	bottom: 25%;
	right: 5%;
	animation: rotate_image_1 5s linear infinite;
    transform-origin: 50% 50%;
}
.x_3 {
	width: 30px;
	height: 30px;
	background: url(../images/x_1.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 22%;
	right: 28%;
	animation: rotate_image_2 5s linear infinite;
    transform-origin: 50% 50%;
}

.w_1 {
	width: 30px;
	height: 30px;
	background: url(../images/w.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: 12%;
	left: 50%;
	animation: rotate_image_1 5s linear infinite;
    transform-origin: 50% 50%;
}
.w_2 {
	width: 30px;
	height: 30px;
	background: url(../images/w.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	bottom: 30%;
	left: 30%;
	animation: rotate_image_2 5s linear infinite;
    transform-origin: 50% 50%;
}
.w_3 {
	width: 30px;
	height: 30px;
	background: url(../images/w.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: absolute;
	bottom: 10%;
	right: 35%;
	animation: rotate_image_1 5s linear infinite;
	transform-origin: 50% 50%;

}

@keyframes rotate_image_1{
	100% {
    	transform: rotate(360deg);
    }
}
@keyframes rotate_image_2{
	100% {
    	transform: rotate(-360deg);
    }
}


/* Typing */
.container {
    width: 100%;
	height: 250px;
  }
  .container p {
    font-size: 3.2rem;
    text-align: center;
    overflow: hidden;
    color: #333;
	font-family: 'GmarketSansBold';
	margin-left: 2%;
	margin-top: 3%;
}
  .container p span.typed-text {
    font-weight: normal;
    color: #b5b6e6;
    font-family: 'GmarketSansBold';
  }
  .container p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
  }
  .container p span.cursor.typing {
    animation: none;
  }
  @keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
  }
/* Typing */



/* MENU Start */
.button_container {
	position: fixed;
	top: 9%;
	right: 3%;
	height: 27px;
	width: 50px;
	cursor: pointer;
	z-index: 100;
	transition: opacity 0.25s ease;
}
.button_container:hover {
	 opacity: 0.7;
}
.button_container.active .top {
	 transform: translateY(11px) translateX(0) rotate(45deg);
	 background: #fff;
}
.button_container.active .middle {
	 opacity: 0;
	 background: #fff;
}
.button_container.active .bottom {
	 transform: translateY(-11px) translateX(0) rotate(-45deg);
	 background: #fff;
}
.button_container span {
	 background: #222;
	 height: 3px;
	 width: 100%;
	 position: absolute;
	 top: 0;
	 left: 0;
	 transition: all 0.35s ease;
	 cursor: pointer;
}
.button_container span:nth-of-type(2) {
	 top: 11px;
}
.button_container span:nth-of-type(3) {
	 top: 22px;
}
.overlay {
	 position: fixed;
	 background: #000;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 0%;
	 opacity: 0;
	 visibility: hidden;
	 transition: opacity 0.35s, visibility 0.35s, height 0.35s;
     overflow: hidden;
     z-index: 1;
}
.overlay.open {
	 opacity: 0.85;
	 visibility: visible;
	 height: 100%;
}
.overlay.open li {
	 animation: fadeInRight 0.5s ease forwards;
	 animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
	 animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
	 animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
	 animation-delay: 0.5s;
}
.overlay nav {
	 position: relative;
	 height: 70%;
	 top: 65%;
	 transform: translateY(-50%);
	 font-size: 50px;
	 font-weight: 400;
	 text-align: center;
}
.overlay ul {
	 list-style: none;
	 padding: 0;
	 margin: 0 auto;
	 display: inline-block;
	 position: relative;
	 height: 100%;
}
.overlay ul li {
	 display: block;
	 height: 25%;
	 height: calc(100% / 4);
	 min-height: 50px;
	 position: relative;
	 opacity: 0;
}
.overlay ul li a {
	 display: block;
	 position: relative;
	 color: #fff;
	 text-decoration: none;
	 overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
	 width: 100%;
}
.overlay ul li a:after {
	 content: '';
	 position: absolute;
	 bottom: 0;
	 left: 50%;
	 width: 0%;
	 transform: translateX(-50%);
	 height: 3px;
	 background: #fff;
	 transition: 0.35s;
}
@keyframes fadeInRight {
	 0% {
		 opacity: 0;
		 left: 20%;
	}
	 100% {
		 opacity: 1;
		 left: 0;
	}
}
/* MENU End */


* {
    margin: 0;
    padding: 0;
}

.about_img {
    width: 50%;
    height: auto;
}

.about_img img {
    width: 35%;
    margin: 0 auto;
	padding-top: 26%;
	padding-left: 50%;
}

@media (max-width:767px) {
	
}