@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    background: #f9f9f9;
}

* {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

a {
	color: inherit;
}

/* MENU Start */
.button_container {
	 position: fixed;
	 top: 9%;
	 right: 3%;
	 height: 27px;
	 width: 50px;
	 cursor: pointer;
	 z-index: 100;
     transition: opacity 0.25s ease;
}
.button_container:hover {
	 opacity: 0.7;
}
.button_container.active .top {
	 transform: translateY(11px) translateX(0) rotate(45deg);
	 background: #fff;
}
.button_container.active .middle {
	 opacity: 0;
	 background: #fff;
}
.button_container.active .bottom {
	 transform: translateY(-11px) translateX(0) rotate(-45deg);
	 background: #fff;
}
.button_container span {
	background: #222;
	height: 3px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.35s ease;
	cursor: pointer;
}
.button_container span:nth-of-type(2) {
	 top: 11px;
}
.button_container span:nth-of-type(3) {
	 top: 22px;
}
.overlay {
	 position: fixed;
	 background: #000;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 0%;
	 opacity: 0;
	 visibility: hidden;
	 transition: opacity 0.35s, visibility 0.35s, height 0.35s;
     overflow: hidden;
     z-index: 1;
}
.overlay.open {
	 opacity: 0.85;
	 visibility: visible;
	 height: 100%;
}
.overlay.open li {
	 animation: fadeInRight 0.5s ease forwards;
	 animation-delay: 0.35s;
}
.overlay.open li:nth-of-type(2) {
	 animation-delay: 0.4s;
}
.overlay.open li:nth-of-type(3) {
	 animation-delay: 0.45s;
}
.overlay.open li:nth-of-type(4) {
	 animation-delay: 0.5s;
}
.overlay nav {
	 position: relative;
	 height: 70%;
	 top: 65%;
	 transform: translateY(-50%);
	 font-size: 50px;
	 font-weight: 400;
	 text-align: center;
}
.overlay ul {
	 list-style: none;
	 padding: 0;
	 margin: 0 auto;
	 display: inline-block;
	 position: relative;
	 height: 100%;
}
.overlay ul li {
	 display: block;
	 height: 25%;
	 height: calc(100% / 4);
	 min-height: 50px;
	 position: relative;
	 opacity: 0;
}
.overlay ul li a {
	 display: block;
	 position: relative;
	 color: #fff;
	 text-decoration: none;
	 overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
	 width: 100%;
}
.overlay ul li a:after {
	 content: '';
	 position: absolute;
	 bottom: 0;
	 left: 50%;
	 width: 0%;
	 transform: translateX(-50%);
	 height: 3px;
	 background: #fff;
	 transition: 0.35s;
}
@keyframes fadeInRight {
	 0% {
		 opacity: 0;
		 left: 20%;
	}
	 100% {
		 opacity: 1;
		 left: 0;
	}
}
/* MENU End */


* {
    margin: 0;
    padding: 0;
}
/* portfolio */
.portfolio {
	text-align: center;
	padding-top: 8%;
	padding-bottom: 4%;
	font-size: 60px;
}
.wow {
	overflow-x: hidden;
	padding-bottom: 4%;
}
.site_1 {
	width: 100%;
	height: auto;
	display: flex;
	padding-top: 4%;
	padding-bottom: 4%;
	text-align: right;
}
.site_text {
	margin-left: 3.5%;
}
.main h1 {
	color: #222;
	font-size: 50px;
	position: relative;
	left: 100%;
	padding-top: 12%;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.web {
	position: relative;
	top: 25%;
	left: 100%;
}
.web > a:hover {
	color: #666;
}
.web p {
	line-height: 22px;
	padding-top: 5%;
	padding-bottom: 5%;
	font-family: 'GmarketSansLight';
	color: #222;
	font-weight: bold;
}
.web a {
	font-size: 20px;
}
.web h3 {
	font-size: 16px;
	font-family: 'GmarketSansMedium';
}

.site_2 {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: row-reverse;
	padding-top: 4%;
	padding-bottom: 4%;
	margin-right: 1%;
}
.main_2 h1 {
	color: #222;
	font-size: 50px;
	position: relative;
	right: 100%;
	padding-top: 12%;
	text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.web_2 {
	position: relative;
	top: 25%;
	right: 100%;
}
.web_2 > a:hover {
	color: #666;
}
.web_2 p {
	line-height: 22px;
	padding-top: 5%;
	padding-bottom: 5%;
	font-family: 'GmarketSansLight';
	color: #222;
	font-weight: bold;
}
.web_2 a {
	font-size: 20px;
}
.web_2>h3 {
	font-size: 16px;
	font-family: 'GmarketSansMedium';
}

.site_img_1 {
	background: url("../images/site_4_img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 850px;
	margin-left: 22%;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
}
.site_img_2 {
	background: url("../images/site_2_img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 850px;
	margin-right: 22%;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
}
.site_img_3 {
	background: url("../images/site_img_3.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 850px;
	margin-left: 22%;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
}
.site_img_4 {
	background: url("../images/site_img_4.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 850px;
	margin-right: 22%;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
}
.site_img_5 {
	background: url("../images/site_img_5.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 850px;
	margin-left: 22%;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
}
.site_img_6 {
	background: url("../images/site_img_6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 850px;
	margin-right: 22%;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
}
.site_img_7 {
	background: url("../images/site_1_img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 850px;
	margin-left: 22%;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
}
.site_img_8 {
	background: url("../images/site_3_img.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 850px;
	margin-right: 22%;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
}
.site_img_9 {
	background: url("../images/site_img_8.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: 500px;
	width: 850px;
	margin-left: 22%;
	box-shadow: 3px 3px 15px rgba(0,0,0,0.1);
}

footer {
	width: 100%;
	height: 60px;
	background: #ccc;
}

footer p {
	text-align: center;
	font-family: 'GmarketSansMedium';
	color: #444;
	font-size: 12px;
	padding-top: 0.8%;
}

@media (max-width:769px) {
	.wow {
		width: 100%;
	}
	.site_1 {
		flex-direction:column-reverse;
	}
	.site_2 {
		flex-direction: column-reverse;
	}
	.site_text {
		margin: 0;
		text-align: center;
	}
	.site_text_2 {
		margin: 0;
		text-align: center;
	}
	.main> h1 {
		left: 0;
	}
	.web {
		left: 0;
		padding-top: 5px;
	}
	.main_2> h1 {
		left: 0;
	}
	.web_2 {
		left: 0;
		padding-top: 5px;
	}
	.site_img_1 {
		width: 650px;
		height: 400px;
		margin: 0 auto;
	}
	.site_img_2 {
		width: 650px;
		height: 400px;
		margin: 0 auto;
	}
	.site_img_3 {
		width: 650px;
		height: 400px;
		margin: 0 auto;
	}
	.site_img_4 {
		width: 650px;
		height: 400px;
		margin: 0 auto;
	}
	.site_img_5 {
		width: 650px;
		height: 400px;
		margin: 0 auto;
	}
	.site_img_6 {
		width: 650px;
		height: 400px;
		margin: 0 auto;
	}
	.site_img_7 {
		width: 650px;
		height: 400px;
		margin: 0 auto;
	}
	.site_img_8 {
		width: 650px;
		height: 400px;
		margin: 0 auto;
	}
	.site_img_9 {
		width: 650px;
		height: 400px;
		margin: 0 auto;
	}
	.web > a {
		color: #666;
	}
	.web_2 > a {
		color: #666;
	}
}

@media (max-width:501px) {
	.button_container {
		top: 7.5%;
	}
	.site_img_1 {
		width: 450px;
		height: 280px;
		margin: 0 auto;
	}
	.site_img_2 {
		width: 450px;
		height: 280px;
		margin: 0 auto;
	}
	.site_img_3 {
		width: 450px;
		height: 280px;
		margin: 0 auto;
	}
	.site_img_4 {
		width: 450px;
		height: 280px;
		margin: 0 auto;
	}
	.site_img_5 {
		width: 450px;
		height: 280px;
		margin: 0 auto;
	}
	.site_img_6 {
		width: 450px;
		height: 280px;
		margin: 0 auto;
	}
	.site_img_7 {
		width: 450px;
		height: 280px;
		margin: 0 auto;
	}
	.site_img_8 {
		width: 450px;
		height: 280px;
		margin: 0 auto;
	}
	.site_img_9 {
		width: 450px;
		height: 280px;
		margin: 0 auto;
	}
	.main> h1 {
		left: 0;
		font-size: 30px;
	}
	.main_2> h1 {
		left: 0;
		font-size: 30px;
	}
	.web > a {
		color: #666;
	}
	.web_2 > a {
		color: #666;
	}
}

@media (max-width:415px) {
	.button_container {
		top: 5%;
	}
	.portfolio {
		font-size: 40px;
	}
	.site_img_1 {
		width: 350px;
		height: 200px;
		margin: 0 auto;
	}
	.site_img_2 {
		width: 350px;
		height: 200px;
		margin: 0 auto;
	}
	.site_img_3 {
		width: 350px;
		height: 200px;
		margin: 0 auto;
	}
	.site_img_4 {
		width: 350px;
		height: 200px;
		margin: 0 auto;
	}
	.site_img_5 {
		width: 350px;
		height: 200px;
		margin: 0 auto;
	}
	.site_img_6 {
		width: 350px;
		height: 200px;
		margin: 0 auto;
	}
	.site_img_7 {
		width: 350px;
		height: 200px;
		margin: 0 auto;
	}
	.site_img_8 {
		width: 350px;
		height: 200px;
		margin: 0 auto;
	}
	.site_img_9 {
		width: 350px;
		height: 200px;
		margin: 0 auto;
	}
	.main> h1 {
		left: 0;
		font-size: 25px;
	}
	.main_2> h1 {
		left: 0;
		font-size: 25px;
	}
	.web > a {
		color: #666;
	}
	.web_2 > a {
		color: #666;
	}
}